<!--/* Outputs the WCM initialization code.If WCM mode is disabled nothing is rendered */-->
<meta
        data-sly-use.wcmInit="/libs/wcm/foundation/components/page/initwcm.js"
        data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
        data-sly-test="${!wcmmode.disabled && wcmInit.isTouchAuthoring}" data-sly-call="${clientLib.all @ categories='cq.authoring.page'}" data-sly-unwrap />
<meta data-sly-test="${!wcmmode.disabled && !wcmInit.isTouchAuthoring}" data-sly-call="${clientLib.all @ categories='cq.wcm.edit'}" data-sly-unwrap />
<script data-sly-test="${!wcmmode.disabled && !wcmInit.isTouchAuthoring}" type="text/javascript">
    (function() {

        var cfg = ${wcmInit.undoConfig @ context='unsafe'};
        cfg.pagePath = "${currentPage.path @ context='uri'}";

        if (CQClientLibraryManager.channelCB() != "touch") {
            cfg.enabled = ${wcmmode.edit @ context="scriptString"};
            CQ.undo.UndoManager.initialize(cfg);
            CQ.Ext.onReady(function() {
                CQ.undo.UndoManager.detectCachedPage((new Date()).getTime());
            });
        }
    })();

    if (window.top) {
        window.top.CQ.wcm.ComponentList.MIN_COMPS = 1;
        window.top.CQ.wcm.ComponentList.MAX_GROUPS = 9;
    }
    CQ.wcm.ComponentList.MIN_COMPS = 1;
    CQ.wcm.ComponentList.MAX_GROUPS = 9;

    CQ.WCM.launchSidekick("${currentPage.path @ context='uri'}", {
        propsDialog: "${wcmInit.dialogPath @ context='uri'}",
        locked: ${currentPage.locked @ context="scriptString"},
        previewReload: "true"
    });
</script>
